[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
python-dotenv = "*"
google-search-results = "*"
wget = "*"
xmltodict = "*"
chromadb = "*"
openai = "*"
langchain = "*"
langgraph = "*"
langchain-openai = "*"
langchain-community = "*"
bs4 = "*"
torch = "*"
transformers = "*"
fastapi = "==0.109.2"
uvicorn = "==0.27.1"
sentence-transformers = "*"
google-cloud-aiplatform = "*"
vertexai = "*"
tqdm = "*"
langchain-core = "*"
langchain-google-genai = "*"

[dev-packages]

[requires]
python_version = "3.11"
