[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
python-dotenv = "*"
google-search-results = "*"
wget = "*"
xmltodict = "*"
chromadb = "*"
openai = "*"
langchain = "*"
langgraph = "*"
langchain-openai = "*"
langchain-community = "*"
bs4 = "*"
fastapi = "==0.109.2"
uvicorn = "==0.27.1"
google-cloud-aiplatform = "*"
vertexai = "*"
tqdm = "*"
langchain-core = "*"
langchain-google-genai = "*"
linkedin-api = "*"
google-cloud-storage = "*"
requests = "*"
beautifulsoup4 = "*"
numpy = "<2.0"
argparse = "*"
datetime = "*"
dvc = "*"
dvc-gs = "*"
cohere = "*"
torch = "*"
sentence-transformers = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
httpx = "*"
pytest-asyncio = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
